{% extends 'layout.html.twig' %}

{% block page_title %}Cool Framework{% endblock %}
{% block content %}

    <div class="actualithe-title">
        <h1>Actualithés</h1>
        <div class="underline underline-actualithe"></div>
    </div>
    <section class="principal-actualithes">
        <div class="principal-actualithes-article">
            <img src="http://www.ecoleduthe.com/modules//blocktopslideredt/img/im-slider2.jpg" alt="">
            <div class="principal-article-label">
                <h4>Lorem ipsum</h4><br>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo cupiditate officia a voluptas molestiae laborum nisi qui fugiat
                    <br>, placeat eo t consectetur adipisicing elit. Illo cupiditate officia a voluptas molestiae laborum nisi qui fugiat, placeat eo
                </p>
            </div>
        </div>
        <div class="principal-actualithes-article">
            <img src="http://www.ecoleduthe.com/modules//blocktopslideredt/img/im-slider2.jpg" alt="">
            <div class="principal-article-label">
                <h4>Lorem ipsum</h4><br>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo cupiditate officia a voluptas molestiae laborum nisi qui fugiat
                    <br>, placeat eo t consectetur adipisicing elit. Illo cupiditate officia a voluptas molestiae laborum nisi qui fugiat, placeat eo
                </p>
            </div>
        </div>
    </section>
    <section class="other-actualithes" id="inteaview">
        {% set compt = 0 %}
        {% set count = 0 %}
        {% for article in articles %}
            {% if compt is divisible by(3) %}
                <div class="other-actualithes-row">
                {% endif %}
                <div class="card" style="width: 18rem;">
                    <img name="image" class='{{articlekeys[count]}}' src='./uploads/{{article.pic}}'>
                    <div class="card-body">
                        <h5 class="card-title">
                            {{article.title}}</h5>
                        <div class="card-text overflow">
                            {{ article.content|raw }}</div>
                        <a href="?action=article&article={{article.id}}" class="btn btn-outline-info articles-btn">Lire</a>
                    </div>
                </div>
                {% set count = count + 1 %}
                {% set compt = compt + 1 %}
                {% if compt is divisible by(3) %}
                </div>
            {% endif %}
        {% endfor %}
    </section>
{% endblock %}
{% block script %}
    {% if username is not defined %}
        <script src="assets/script/home.js"></script>
    {% endif %}
{% endblock %}