{% extends 'layout.html.twig' %}

{% block page_title %}Cool Framework{% endblock %}
{% block content %}

    <section class="article-header">
        <div class="article-header-content">
            <img src="http://www.ecoleduthe.com/modules//blocktopslideredt/img/im-slider2.jpg" alt="">
            <div class="article-header-label">
                <h4>Lorem ipsum</h4><br>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo cupiditate officia a voluptas molestiae laborum nisi qui fugiat
                    <br>, placeat eo t consectetur adipisicing elit. Illo cupiditate officia a voluptas molestiae laborum nisi qui fugiat, placeat eo
                </p>
            </div>
        </div>
    </section>
    <div class="article-img">
        <img name="image" src='./uploads/{{article.pic}}'>
    </div>
    <div class="article-content">
        <h1>{{article.title}}</h1>
        <p>
            {{article.content|raw}}
        </p>
    </div>
    <div class="article-comment">
        <div class="actualithe-title">
            <h1>Commentaires</h1>
            <div class="underline underline-actualithe"></div>
        </div>
        <div class="commentsection">
            {% for comment in comments %}
                <div class="article-comments">
                    <h4>{{comment.user_name}}</h4>
                    <p>
                        {{comment.content|raw}}
                    </p>
                </div>
            {% endfor %}
        </div>
        {% if username is defined %}
            <div class="comment-block">
                <h2 class="h2-comment">Ajouter un commentaire</h2>
                <textarea cols="30" rows="10" class="register-block-button commentcontent"></textarea>
                <button class="commentbtn">Envoyer</button>
            </div>
        {% else %}
            <div class="register-block-button">
                <h2>Une envie de commenthé ?</h2>
                <button class="printregisterbtn">
                    <a href="#header">Inscrivez-vous</a>
                </button>
            </div>
        {% endif %}

    </div>
{% endblock %}
{% block script %}
    <script>
        var articleId = '{{article.id}}';
    </script>
    {% if username is not defined %}
        <script src="assets/script/home.js"></script>
    {% else %}
        <script src="assets/script/comment.js"></script>
    {% endif %}
{% endblock %}