{% extends 'layout.html.twig' %}

{% block page_title %}Cool Framework{% endblock %}
{% block content %}

    {% for users in infos %}
        <div class='flex row user{{users.id}}'>
            {% for info in users %}
                <input type="text" class='{{info}} info contenteditable="true"' value="{{info}}">
            {% endfor %}
            <button class="Save user{{users.id}}">Save</button>
            <button class="deleteUser user{{users.id}}">Delete User</button>
        </div>
    {% endfor %}
{% endblock %}
{% block script %}
    <script>
        var userkeys = {{ userkeys|json_encode|raw }};
    </script>
    <script src="assets/script/bo.js"></script>
{% endblock %}