{% block page_title %}Cool Framework{% endblock %}
{% block style %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
{% endblock %}
{% block content %}
    <div class=" container-fluid flex column">
        <table class="table table-hover">
            <thead>
                <tr>
                    {% for key in userkeys %}
                        <th class=' table-bordered {{key}}'>{{key}}</th>
                    {% endfor %}
                </tr>
            </thead>
            {% for users in infos %}
                <tr class=' container-fluid  user{{users.id}}'>
                    {% for info in users %}
                        {% if info == "0" or info == "1" %}
                            <th>
                                <select class="test" id="user{{users.id}}">
                                    {% if info == "0"%}
                                        <option>{{info}}</option>
                                        <option>1</option>
                                    {% else %}
                                        <option>{{info}}</option>
                                        <option>0</option>
                                    {% endif %}
                                </select>
                            </th>
                        {% else %}
                            <th id="user{{users.id}}" class='info' value="{{info}}" contenteditable="true">{{info}}</th>
                        {% endif %}
                    {% endfor %}
                    <th>
                        <button id="user{{users.id}}" class=" btn btn-success Save">Save</button>
                    </th>
                    <th>
                        <button id="user{{users.id}}" class=" btn btn-danger deleteUser">Delete User</button>
                    </th>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
{% block script %}
    <script>
        var userkeys = {{ userkeys|json_encode|raw }};
    </script>
    <script src="assets/script/bo.js"></script>
{% endblock %}