{% extends 'layout.html.twig' %}

{% block page_title %}Cool Framework{% endblock %}
{% block content %}
    {% for article in articles %}
        {% set count = 0 %}
        <article>
            {% for value in article %}
                {% if articlekeys[count] == "content" %}
                    <div name="content" class="content">{{value|raw}}</div>
                {% elseif articlekeys[count] == "pic" %}
                    <img name="image" class='{{articlekeys[count]}}' width=" 50" height=" 50" src='./uploads/{{value}}'>
                {% else %}
                    <p name='{{articlekeys[count]}}' class='{{articlekeys[count]}}'>{{value}}</p>
                {% endif %}
                {% set count = count + 1 %}
            {% endfor %}
            <form action="?action=modifyArticle" method="POST">
                <button class='btn' name='btn' value="{{article.id}}">Modify</button>
            </form>
        </article>
    {% endfor %}
    <section class=" home-content">
        <div class="home-item first-item">
            <div class="left-bloc"></div>
            <div class="right-bloc"></div>
        </div>

        <div class="home-item news-item">
            <div class="news-content">
                <div class="left-side-news">
                    <div class="news-title">
                        <h1>Nouveauthés</h1>
                        <div class="underline"></div>
                    </div>
                    <p class="news-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo cupiditate officia a voluptas molestiae laborum nisi qui fugiat, placeat eos, libero cum fugit sed hic. Sunt, ipsum commodi. Quo, reiciendis?<br><br>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus commodi minima, quae sed neque, quo reprehenderit odit labore at error fugit deserunt assumenda repellendus quibusdam dolore, atque rerum eveniet in?<br><br>
                        <button>Découvrir</button>
                    </p>
                </div>
                <div class="right-side-news">
                    <img src="https://image.afcdn.com/recipe/20161118/17659_w420h344c1cx2144cy1424.jpg">
                </div>
            </div>
        </div>

        <div class="home-item last-test">
            <div class="last-test-content">
                <div class="last-test-title">
                    <h1>Derniers tests</h1>
                    <div class="last-test-underline"></div>
                </div>
                <div class="my-tests">
                    <div class="my-test">
                        <img src="http://japan-mod.fr/wp-content/uploads/2017/06/1662-962914-article3.jpeg">
                        <div class="my-test-content">
                            <h4>Titre</h4><br><br>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo cupiditate officia a voluptas molestiae laborum nisi qui fugiat, placeat eos, libero cum fugit sed hic. Sunt, ipsum commodi.
                            </p><br><br>
                            <button>Lire</button>
                        </div>
                    </div>
                    <div class="my-test">
                        <img src="http://japan-mod.fr/wp-content/uploads/2017/06/1662-962914-article3.jpeg">
                        <div class="my-test-content">
                            <h4>Titre</h4><br><br>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo cupiditate officia a voluptas molestiae laborum nisi qui fugiat, placeat eos, libero cum fugit sed hic. Sunt, ipsum commodi.
                            </p><br><br>
                            <button>Lire</button>
                        </div>
                    </div>
                    <div class="my-test">
                        <img src="http://japan-mod.fr/wp-content/uploads/2017/06/1662-962914-article3.jpeg">
                        <div class="my-test-content">
                            <h4>Titre</h4><br><br>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo cupiditate officia a voluptas molestiae laborum nisi qui fugiat, placeat eos, libero cum fugit sed hic. Sunt, ipsum commodi.
                            </p><br><br>
                            <button>Lire</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-item battle-item">
            <div class="tea-battle-content">
                <div class="tea-battle-title">
                    <h1>Tea battle</h1>
                    <div class="tea-battle-underline"></div>
                </div>
                <div class="tea-battle-subtitles">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo cupiditate officia a voluptas molestiae laborum nisi qui fugiat, placeat eos, libero cum fugit sed hic. Sunt, ipsum commodi. Illo cupiditate officia a voluptas molestiae laborum nisi qui fugiat, placeat eos, libero. Illo cupiditate officia a voluptas molestiae laborum nisi qui.
                    </p>
                </div>
                <div class="tea-battle-articles">
                    <div class="first-article">
                        <img src="http://www.mariedaage.com/sites/default/files/_MG_0201.jpg"><br><br>
                        <h4>Lorem</h4><br><br>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo cupiditate officia a voluptas molestiae laborum nisi qui fugiat, placeat eos, libero cum fugit sed hic. Sunt, ipsum commodi.
                        </p>
                        <button>découvrir</button>
                    </div>
                    <div class="second-article">
                        <h4>Lorem</h4><br><br>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo cupiditate officia a voluptas molestiae laborum nisi qui fugiat, placeat eos, libero cum fugit sed hic. Sunt, ipsum commodi.
                        </p><br><br>
                        <img src="http://www.mariedaage.com/sites/default/files/_MG_0201.jpg">
                        <button>découvrir</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-item receipts-item">
            <div class="receips-title">
                <h1>Recettes</h1>
                <div class="receips-underline"></div>
            </div>
            <div class="receips-content">
                <div class="img-left-side">
                    <img src="https://m.mcdn.fr/files/images/article/6/2/7/4004726/5338724-inline.jpg">
                </div>
                <div class="receips-right-side">
                    <div class="receips-right-side-content">
                        <h4>Nom de la recette</h4><br><br>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo cupiditate officia a voluptas molestiae laborum nisi qui fugiat, placeat eos, libero cum fugit sed hic. Sunt, ipsum commodi.
                        </p>

                        <h5>Ingrédients</h5>
                        <ul>
                            <li>Ingrédients1</li>
                            <li>Ingrédients2</li>
                            <li>Ingrédients3</li>
                            <li>Ingrédients4</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block script %}{% endblock %}