{% extends 'layout.html.twig' %}

{% block page_title %}Cool Framework{% endblock %}
{% block content %}
    {% for article in articles %}
        {% set count = 0 %}
        <article>
            {% for value in article %}
                {% if articlekeys[count] == "content" %}
                    <div name="content" class="content">{{value|raw}}</div>
                {% elseif articlekeys[count] == "pic" %}
                    <img name="image" class='{{articlekeys[count]}}' width=" 50" height=" 50" src='./uploads/{{value}}'>
                {% else %}
                    <p name='{{articlekeys[count]}}' class='{{articlekeys[count]}}'>{{value}}</p>
                {% endif %}
                {% set count = count + 1 %}
            {% endfor %}
            <form action="?action=modifyArticle" method="POST">
                <button class='btn' name='btn' value="{{article.id}}">Modify</button>
            </form>
        </article>
    {% endfor %}
    <section class=" home-content" =" home-content" "=" home-content""="home-content" "" ">
        <div class="home-item first-item">
            <div class="left-bloc"></div>
            <div class="right-bloc"></div>
        </div>
        <div class="home-item news-item">2</div>
        <div class="home-item battle-item">3</div>
        <div class="home-item receipts-item">4</div>
        <footer class="home-item footer-item">4</footer>
    </section>
{% endblock %}
{% block script %}
    {% if username is not defined %}
        <script src="assets/script/home.js"></script>
    {% endif %}
{% endblock %}