{% extends 'layout.html.twig' %}

{% block page_title %}Cool Framework{% endblock %}
{% block content %}
    {% for article in articles %}
        {% set count = 0 %}
        <form action="?action=modifyArticle" method="POST" name="form">
            <article>
                {% for value in article %}
                    {% if articlekeys[count] == "content" %}
                        {{value|raw}}
                    {% elseif articlekeys[count] == "pic" %}
                        <img class='{{articlekeys[count]}}' width="50" height="50" src='./uploads/{{value}}'>
                    {% else %}
                        <div class='{{articlekeys[count]}}' name='{{articlekeys[count]}}'>{{value}}</div>
                    {% endif %}
                    {% set count = count + 1 %}
                {% endfor %}
            </article>
        </form>
    {% endfor %}
    <section class="home-content">
        <div class="home-item first-item">
            <div class="left-bloc"></div>
            <div class="right-bloc"></div>
        </div>

        <div class="home-item news-item">
         <div class="news-content">
           <div class="left-side-news">
             <div class="news-title">
               <h1>Nouveauthés</h1>
               <div class="underline"></div>
             </div>
             <p class="news-text">
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo cupiditate officia a voluptas molestiae laborum nisi qui fugiat,
               placeat eos, libero cum fugit sed hic. Sunt, ipsum commodi. Quo, reiciendis?<br><br>
               Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus commodi minima, quae sed neque,
               quo reprehenderit odit labore at error fugit deserunt assumenda repellendus quibusdam dolore, atque rerum eveniet in?<br><br>
               <button>Découvrir</button>
             </p>
           </div>
           <div class="right-side-news">
             <img src=""> 
           </div>
         </div>
        </div>

        <div class="home-item battle-item">3</div>
        <div class="home-item receipts-item">4</div>
        <footer class="home-item footer-item">4</footer>
    </section>
{% endblock %}
{% block script %}
    {% if username is not defined %}
        <script src="assets/script/home.js"></script>
        <script src="assets/script/register.js"></script>
    {% endif %}
{% endblock %}
