{% extends 'layout.html.twig' %}

{% block page_title %}Cool Framework{% endblock %}
{% block content %}
    <section class=" home-content">
        <div class="home-item first-item">
            <div class="first-item-content">
                <h1>Testons le thé</h1>
                <h4>Testhé & approuvé par nos soins</h4>
                {# <a href="#news" class="btn btn-outline-info">
                    Découvrir</a> #}
                <button><a href="#news">Découvrir</a></button>


            </div>
        </div>

        <div class="home-item news-item" id="news">
            <div class="news-content">
                <div class="left-side-news">
                    <div class="news-title">
                        <h1>Nouveauthés</h1>
                        <div class="underline"></div>
                    </div>
                    <p class="news-text">
                        Voici un lot placé sous le signe de la gourmandise avec des notes fruitées, vanillées et de noisette qui évoluent sur un fond végétal et pyrogéné.<br>
                        Depuis quelques années, certains planteurs népalais s'éloignent des traditions pour créer des thés hors des sentiers battus. La vallée d’Ilam et Dhankuta, à l’est du Népal, sont des régions dont les plantations se démarquent des grandes plantations Népalaises. Là-bas, on produit un sixième du thé népalais en suivant le procédé orthodoxe : les feuilles de thé sont gardées entières, ce qui garantit une grande richesse aromatique.
                        <br>
                        <br>
                        <a href="?action=actualithe">Découvrir</a>
                    </p>
                </div>
                <div class="right-side-news">
                    <img src="assets/images/home/11.jpeg">
                </div>
            </div>
        </div>

        <div class="home-item last-test">
            <div class="last-test-content">
                <div class="last-test-title">
                    <h1>Derniers tests</h1>
                    <div class="last-test-underline"></div>
                </div>
                <div class="my-tests">
                    <div class="my-test">
                        <img src="assets/images/home/14.jpeg">
                        <div class="my-test-content">
                            <h4>Le Gunpowder</h4>
                            <p>Ce thé fait fureur en Chine car il est considéré comme le thé le plus consommé par la population chinoise. Ne vous inquiétez pas même si ce nom semble trompeur le Gunpowder est un type de thé vert. Son nom vient de sa forme qui fait penser à de la poudre à canon !
                            </p>

                        </div>
                    </div>
                    <div class="my-test">
                        <img src="assets/images/home/13.jpeg">
                        <div class="my-test-content">
                            <h4>Le thé blanc</h4>
                            <p>Vous êtes beaucoup à boire ce type de thé mais savez-vous d’où il vient ?
                               Le thé blanc est extrait d’une plante appelé Camellia sinensis, elle est très répandue dans les zones asiatique (Chine, Inde, Japon). Sa première apparition est basé en Chine.
                            </p>

                        </div>
                    </div>
                    <div class="my-test">
                        <img src="assets/images/home/4.jpeg">
                        <div class="my-test-content">
                            <h4>Le masala chaï</h4>
                            <p>
                                Nous restons dans le continent asiatique c’est ici que nous avons trouvé le thé qui pourra satisfaire vos besoins en sucre, il s’agit d’un thé indien le Masala chai.
                                Le masala chai est composé de beaucoup d’épices.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-item battle-item">
            <div class="tea-battle-content">
                <div class="tea-battle-title">
                    <h1>Tea battle</h1>
                    <div class="tea-battle-underline"></div>
                </div>
                <div class="tea-battle-subtitles">
                    <p></p>
                </div>
                <div class="tea-battle-articles">
                   <div class="first-article">
                        <img src="./uploads/{{tbArticle1.pic}}">
                        <h4>{{tbArticle1.title}}
                        </h4>
                        {{tbArticle1.content|raw}}
                        <button id="{{tbArticle1.id}}" class="likes">{{tbArticle1.likes}}</button>
                    </div>
                    <div class="second-article">
                        <h4>{{tbArticle2.title}}
                        </h4>
                        {{tbArticle2.content|raw}}
                        <img src="./uploads/{{tbArticle2.pic}}">
                        <button id="{{tbArticle2.id}}" class="likes">{{tbArticle2.likes}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-item receipts-item">
            <div class="receips-title">
                <h1>Recettes</h1>
                <div class="receips-underline"></div>
            </div>
            <div class="receips-content">
                <div class="img-left-side">
                    <img src="./assets/images/home/the.jpg">
                </div>
                <div class="receips-right-side">
                    <div class="receips-right-side-content">
                        <h4>Saumon au thé vert</h4>
                        <p>Découvrez notre nouvelle recette salée qui allie produit de la mer et thé !
                        </p>
                        <h5>Ingrédients</h5>
                        <ul>
                            <li>2 cuillères à soupe de the vert en feuilles (ou thé ert en sachet)</li>
                            <li>2 tasses d'eau</li>
                            <li>Zeste de citron ou lime</li>
                            <li>1 cuillère à soupe de gingembre râpé</li>
                            <li>3 gousses d'ail hâchées</li>
                            <li>4 darnes de saumon du Pacifique (Coho, Keta ou Sockeye)</li>
                            <li>2 cuillères à soupe d'huile d'olive</li>
                            <li>2 cuillères à soupe de sauce teriyaki</li>
                            <li>1 cuillère a soupe de poivre vert</li>
                            <li>2 cuillères à soupe de beurre sans sel (facultatif)</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block script %}
    <script src="assets/script/likes.js"></script>
{% endblock %}